<style>
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: red;
}

.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #2d3e50;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  font-weight: 400;
}

.App-intro {
  font-size: large;
}

.App-content {
  padding-left: 20px;
}

.App ul, .App h2 {
  text-align: left;
}

</style>
<div className="App">
  <header className="App-header">
    <img src='assets/logo.png' className="App-logo" alt="logo" />
    <h1 className="App-title">Hello BITBOX</h1>
  </header>
  <div className='App-content'>
    <h2><code>getinfo</code></h2>
    <ul>
      <li>
          version: {{version}}
      </li>
      <li>
          protocolversion: {{protocolversion}}
      </li>
      <li>
          walletversion: {{walletversion}}
      </li>
      <li>
          balance: {{balance}}
      </li>
      <li>
          blocks: {{blocks}}
      </li>
      <li>
          timeoffset: {{timeoffset}}
      </li>
      <li>
          connections: {{connections}}
      </li>
      <li>
          proxy: {{proxy}}
      </li>
      <li>
          difficulty: {{difficulty}}
      </li>
      <li>
          testnet: {{testnet}}
      </li>
      <li>
          keypoololdest: {{keypoololdest}}
      </li>
      <li>
          keypoolsize: {{keypoolsize}}
      </li>
      <li>
          paytxfee: {{paytxfee}}
      </li>
      <li>
          relayfee:{{relayfee}}
      </li>
      <li>
          errors: {{errors}
      </li>
      </ul>
  </div>
</div><router-outlet></router-outlet>
